
div{
	width: 200px;
	height: 250px;
	border: 2px solid red;
	padding: 20px; 
	background-color: white;
	margin: 10px;
	
}
.tres{
		padding: 10px;
		margin: 0px;
}
.uno {
        width: 200px;
	height: 250px;
	border: 2px solid red;
	padding: 20px; 
	background-color: white;
	margin: 10px;
    }
.dos{
    width: 200px;
	height: 250px;
	border: 2px solid red;
	padding: 20px; 
	background-color: white;
	margin: 10px;
}
.cuatro{
 
		padding: 0px;
		margin: 0px;

	}

